<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>URL</th>
    <td mat-cell *matCellDef="let element">{{element.url}}</td>
  </ng-container>

  <!-- Crawl Date Column -->
  <ng-container matColumnDef="crawlDate">
    <th mat-header-cell *matHeaderCellDef>Crawl Date</th>
    <td mat-cell *matCellDef="let element">{{formatDate(element.crawlDate)}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
