<mat-form-field appearance="outline" class="full_width">
  <mat-label>Search for content</mat-label>
  <input matInput placeholder="Enter the search term here" [(ngModel)]="searchCriteria">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{element.title}}</td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>URL</th>
    <td mat-cell *matCellDef="let element">{{element.url}}</td>
  </ng-container>

  <!-- Crawl Date Column -->
  <ng-container matColumnDef="crawlDate">
    <th mat-header-cell *matHeaderCellDef>Crawl Date</th>
    <td mat-cell *matCellDef="let element">{{formatDate(element.crawlDate)}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
